/.vscode/
/spacy-textcat/
/spacy-textcat.zip
/bert-base-srl-*.tar.gz
/tests/test_files/models/bert_model/*.gz
/tests/test_files/models/spacy_model/spacy-textcat
/tests/test_files/testing_bug*
.ipynb_checkpoints/
/notebooks/
!notebooks/unit_tests.ipynb
!notebooks/test_transform_RO.ipynb
DEPRECATED/
__pycache__/
